@import "normalize.css";

body {
  background-color: rgb(34, 32, 32);
  color: rgb(214, 214, 214);
  font-family: 'Roboto', sans-serif;
}

.main-page {
  padding: 20px;
}

.section__title {
  margin: 0 0 20px 0;
  min-height: 65px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.section__btn {
  width: 100%;
  min-height: 40px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  transition: all .3s ease-in-out;
}

.logo:hover {
  opacity: .8;
  cursor: pointer;
}

.users-list__heading-empty {
  text-align: center;
  font-size: 25px;
  color: rgb(133, 133, 133);
}